@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Nunito+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: #587081;
  --color-secondary: #C4D0D9;
  --color-background: #D9D9D9;
  --color-count: #94a6bd;
  --color-footer: #ECEEEF;
  --color-text-main: #404040;
  --color-text-secondary: #787878;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.c-primary{
  color: var(--color-primary);;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container-fluid {
  flex-grow: 1;
  display: flex;
}

.navbar{
  background-color: #587081;
}

.search-box {
  max-width: 300px; /* ajusta según prefieras */
  width: 100%;
  margin: 0 auto; /* centrar */
}

.search-box input {
  padding-right: 2.5rem; /* espacio para el icono */
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-secondary);
  pointer-events: none;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: var(--color-background);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

main > *:last-child {
  margin-bottom: 0;
}

.main-layout {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 120px);
}

.main-layout > .col {
  display: flex;
  flex-direction: column;
}

.main-layout main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.task-list {
  scroll-behavior: smooth;
}

.task-item {
  background-color: var(--color-background);
}

.task-item:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.2s ease-in-out;
}

.add-task-form {
  margin-top: auto; /* empuja hacia el fondo del main */
}

.task-details .card {
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: var(--color-footer);
}

.btn-outline-secondary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-outline-secondary:hover {
  background-color: var(--color-primary);
  color: white;
}

.form-check-input:checked {
  background-color: var(--color-text-secondary) !important;
  border-color: var(--color-text-secondary) !important;
}

footer {
  margin-top: auto;
  background-color: var(--color-footer);
  color: var(--color-text-secondary);
  font-size: small;
  text-align: center;
  padding: 10px;
  padding-right: 20px;
}